.navbar {
  background-color: #230A59 !important;
}

body {
  background-color: #829FD9;
}

.card {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.card-titile {
  color: #000;
}

.card-body {
  color: #5C73F2;
}

.card-body img {
  width: 30px;
  height: 30px;
}

.teste {

}